<!-- hikes.vtl -->
<h1>Hikes List</h1>

#if ($hikes)
  <ul>
    #foreach ($hike in $hikes)
      <li><a href="/hikes/$hike.getId()">$hike.getName()</a></li>
    #end
  </ul>
#else
  <h1>No Hikes! GET YOUR DAMN BOOTS ON!</h1>
#end

<a href="/new-hike">Add a New Hike</a>
<!-- hikes.vtl -->
