<!-- hike.vtl -->
<h2>A $state.getName() hike</h2>
<div class="panel panel-default">
  <div class="panel-heading"><h3>$hike.getName()</h3></div>
  <div class="panel-body">$hike.getDescription()</div>
</div>

<!-- hike.vtl -->
