<!-- success.vtl -->
<div class="alert alert-success lead">Your hike has been added successfully to the list.</div>
<div class="btn-group"><a href="/hikes" class="btn btn-default" role="button">View all hikes</a>
<a href="/new-hike" class="btn btn-default" role="button">Add a hike</a></div>
<!-- success.vtl -->
